footer{
    background: var(--BandSite-Black);
    padding: var(--padding-64) 20px;

}

.footer-inner{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--padding-32);
    color: var(--White);
}

.footer-top{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.footer-top-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-40);
}

.get-in-touch{
    font-size: var(--font-36);
  line-height: var(--Lh-32);
  font-weight: var(--Fw-700);
  padding: var(--padding-8) 0 var(--padding-8) 0;
  /* color: var(--BandSite-DarkBlack); */
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-middle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--padding-32);
}

.footer-middle-left, .footer-middle-middle, .footer-middle-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 220px;
}

.middle-heading{
    font-size: var(--font-14);
    font-weight: var(--Fw-600);
    line-height: var(--Lh-22);
}

.middle-heading-2, .middle-heading-3{
    font-size: var(--font-14);
    font-weight: var(--Fw-400);
    line-height: var(--Lh-20);
}

.footer-bottom{
    font-size: var(--font-14);
    font-weight: var(--Fw-400);
    line-height: var(--Lh-22);
}

@media(max-width: 769px){
    footer{
        padding: var(--padding-40) 0;
    
    }
    
    .footer-inner{
        max-width: 1250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--padding-32);
        color: var(--White);
        padding: 0 20px;
    }
    
    .footer-top{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;
    }
    
    .footer-top-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }
    
    .get-in-touch{
        font-size: var(--font-24);
      line-height: var(--Lh-32);
      font-weight: var(--Fw-700);
      padding: 0;
      /* color: var(--BandSite-DarkBlack); */
    }
    
    .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .footer-middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--padding-32);
    }
    
    .footer-middle-left, .footer-middle-middle, .footer-middle-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 220px;
    }
    
    .middle-heading{
        font-size: var(--font-14);
        font-weight: var(--Fw-600);
        line-height: var(--Lh-22);
    }
    
    .middle-heading-2, .middle-heading-3{
        font-size: var(--font-14);
        font-weight: var(--Fw-400);
        line-height: var(--Lh-20);
    }
    
    .footer-bottom{
        font-size: var(--font-14);
        font-weight: var(--Fw-400);
        line-height: var(--Lh-22);
    }
}